

.title {
    background-color: blue;
    }

.search-bar {
    border-radius: 3px;
}


.search-google {
    border-radius: 30px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-left: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.email-bar {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    
}


.form3-text {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
}

.agree-button {
    background-color: rgb(62, 109, 209);
    color: white;
    border-radius: 20px;
    border: none;
    
}